[data-mj="header-nav"] {
  background-color: #023972 !important;
}

[data-mj="header-nav-item"] a {
  color: #ffffff !important;
}

[data-mj="header-nav-item"] .active-link,
[data-mj="header-nav-item"] a.active-link,
[data-mj="header-nav-item"] a[aria-current="page"] {
  color: #ffffff !important;
}
